In [ ]:
1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.
Examples
remove_letters(["s","t","r","i","n","g","w"], "string") ➞ ["w"]
remove_letters(["b","b","l","l","g","n","o","a","w"], "balloon") ➞ ["b","g","w"]

In [15]:
def remove_letters(list1,string):
    list2=[]
    for i in string:
        list2.append(i)
    a=list(set(list1).difference(set(list2)))
    common = sorted(a)
    return common
remove_letters(["s","t","r","i","n","g","w"], "string")
remove_letters(["B","b","l","l","g","n","o","a","w"], "Balloon")

['b', 'g', 'w']

In [ ]:
2. A block sequence in three dimensions. We can write a formula for this one:

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.
Examples
blocks(1) ➞ 5

In [24]:
def count(n):
    if n==1:
        return 1
    else:
        return n+count(n-1)

def  blocks(step):
    if step==0:
        return 0
    else:
        return count(step)+step*3+step*2-1
blocks(5)

39

In [ ]:
Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.
Examples
my_sub(5, 9) ➞ 4
my_sub(10, 30) ➞ 20

In [38]:
def my_sub(x, y):
    if x>y:
        if (y == 0):
            return x
        return my_sub(x ^ y, (~x & y) << 1)
    elif y>x:
        if (x == 0):
            return y
        return my_sub(y ^ x, (~y & x) << 1)
        
my_sub(10, 30)

20

In [ ]:
4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.
For the input string:
- Each amount is prefixed by the currency symbol: $ for dollars and £ for
pounds.
- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000
Examples
add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70
add_bill("p30,d20,p60,d150,p360") ➞ 20 + 150 = 170

In [20]:
def add_bill(string):
    list1=string.split(',')
    result = [i for i in list1 if i.startswith('d')]
    num_list = [int(i.split('d')[1]) for i in result]
    return sum(num_list)
add_bill("d20,p40,p60,d50")
add_bill("p30,d20,p60,d150,p360")

170

In [ ]:
5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.
flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.
flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.

In [44]:
def flip_list(lst):
    if not lst:
        return lst
    is_vertical = isinstance(lst[0], list)
    if is_vertical:
        return [el[0] for el in lst]
    return [[el] for el in lst]
flip_list([1, 2, 3, 4]) 
flip_list([[5], [6], [9]])

[5, 6, 9]